* {
  box-sizing: border-box;
}

:root {
  --bodycolor: #252323;
  --accent1: #fffffc;
  --accent2: #744f44;
  --accent3: #00a6fb;
}

body {
  background-color: var(--bodycolor);
  padding: 10px;
}

#card {
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-family: "Courier New", Courier, monospace;
}

#card * {
  margin-bottom: 20px;
}

#palindrome {
  text-align: center;
  padding: 15px;
  width: min(95vw, 500px);
  background-color: var(--accent2);
}

h1,
h2,
p {
  color: var(--accent1);
  text-align: center;
}

#info {
  max-width: 500px;
  padding: 20px 10px;
  background-color: var(--accent2);
  width: min(95vw, 400px);
  font-size: 1.2rem;

  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.7);
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
}

p,
input {
  text-align: center;
  font-size: 1.1rem;
}

button,
#palindrome,
#info {
  border-radius: 15px;
  padding: 10px;
}

button {
  background-color: var(--accent1);
  color: var(--bodycolor);
  font-weight: bolder;
  margin-left: 5px;
  border-width: 1px;
  cursor: pointer;
}

input {
  border: none;
  border-bottom: 3px var(--accent1) solid;
  color: var(--accent1);
  font-weight: bolder;
  padding: 5px;
  background: transparent;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.7);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.3);
    transform: translatey(-12px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.7);
    transform: translatey(0px);
  }
}
